<div class="container">
    <div class="row center">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h1>WaterMarker</h1>
        </div>
    </div>

    <div class="row center">
        <div class="mybutton col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <button type="button" class="btn btn-lg btn-default" ng-click="vm.takePicture()" >Tirar foto</button>
        
        </div>

        <div class="mybutton col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>Logomarca:</label>
            <input type="text" watermark ng-model="vm.text" />

        </div>

        

        <div class="mybutton col-xs-12">

            <div class="picWrapper">
                <img class="pic" src="{{vm.picture}}"> </img>
            </div>

        </div>

        <div class="mybutton col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>Salvar com nome:</label>
            <input type="text" ng-model="vm.pictureName" />
        </div>

        <div class="mybutton col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <button ng-show="vm.picture" type="button" class="btn btn-lg btn-default" ng-click="vm.savePicture()" >Salvar {{vm.pictureName + ".png"}}</button>
        
        </div>

        <div class="mybutton col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>{{vm.feedback}}</label>
            <a href="#/gallery">
                <button type="button" class="btn btn-lg btn-default">Ver galeria</button>

            </a>
        </div>




    </div>


</div>