<div class="container">
    <div class="row center">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h1>WaterMarker</h1>
        </div>
    </div>

    <div class="row center">
        <div class="mybutton col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <button type="button" class="btn btn-lg btn-default" ng-click="vm.takePicture()" >Tirar foto</button>
        
        </div>

        <div class="mybutton col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="picture">
                <img src="{{vm.picture}}"> </img>
            </div>

        </div>



    </div>


</div>